
// COLORS
$color-primary: #FE8B2E;
$color-secondary: #EE4F27;
$color-third: #FFCF4E;
$color-fourth: #e29032;
$color-black: #212529;
$color-grey-light: #f6f6f6;
$color-grey-dark: #616161;
$color-dark: rgb(66, 62, 62);
$color-linear-primary-secondary: linear-gradient(90deg, $color-primary, $color-secondary);

// SHADOWS
$box-shadow: 0 10px 35px 0 rgb(0 0 0 / 18%);

// BORDER RADIUS

$border-radius: 27px;