.section-carousel {

    margin-bottom: 7rem;

    .carousel {

        height: 280px;

        .carousel-indicators {

            margin-bottom: 0;
        }

        .carousel-indicators [data-bs-target] {
            width: 7px;
            height: 7px;
            border-radius: 100%;
        }

        .carousel-inner {

            height: 100%;

            .carousel-item {

                height: 100%;
                img {
    
                    height: 100%;
                }
    
                h2 {
                    font-weight:700;
                    font-size: 1.3rem;
                }
    
                a, p {
                    font-weight: 600;
                }
    
                h2, p {
    
                    margin-bottom: 2rem;
                }
    
                .btn {
    
                    margin-bottom: 1rem;
                }
    
                .carousel-caption {
                   
                    width: 100%;
                    right: auto;
                    left: auto;
                }
            }
        }

        @media screen and (min-width: 410px) { 

            .carousel-inner {

                .carousel-item {
    
                    h2 {

                        font-size: 1.7rem;
                    }
                }
            }
        }

        @media screen and (min-width: 690px) {
            
            height: 350px;

            .carousel-inner {

                .carousel-item {
    
                    h2 {
                        
                        font-size: 2.2rem;
                    }
    
                    p {
                        font-size: 1.5rem;
                    }
                    .btn {
                        margin-bottom: 2rem;
                    }
                }
            }
        }

        @media screen and (min-width: 800px) {

            height: 400px;
        }

        @media screen and (min-width: 980px) {

            height: 450px;

            .carousel-indicators {
                margin-bottom: 1rem;
            }

            .carousel-inner {

                .carousel-item {
    
                    .btn {
                        margin-bottom: 3rem;
                    }
                    h2 {
                        font-size: 3rem;
                    }
                }
            }
        }

        @media screen and (min-width: 1100px) {

            height: 670px;

            .carousel-inner {

                .carousel-item {
    
                    .btn {
                        margin-bottom: 10rem;
                    }
                    h2 {
                        font-size: 3.5rem;
                    }
                    P {
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }
}