body {

    .bloc-page {

        .section-title {

            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            height: 300px;

            h1 {

                text-transform: uppercase;
            }

            h3 {

                font-size: 1.2rem;
            }

            @media screen and (min-width: 500px) {

                height: 400px;
            }

            @media screen and (min-width: 800px) {

                height: 500px;

                h1 {

                    font-size: 3rem;
                }
            }

            @media screen and (min-width: 1000px) {

                height: 600px;

                h1 {

                    font-size: 3.5rem;
                }
            }


            @media screen and (max-width: 340px) {

                h1 {
                    font-size: 1.8rem;
                }
            }
        }
    }
}